input[type=text], [type=email], [type=date], [type=number], [type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid rgb(241, 229, 229);
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #043815;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
  }
  
  input[type=submit]:hover {
    background-color: #306a79;
  }
  div {
    border-radius: 5px;
    background-color: #f5faf9;
    padding: 5px;
  }
  h1 {
    text-align: center;
  }
 body{
     background-image: url(fondo3.jpg);
     
 }